# Configuración del Frontend
# Copia este archivo a .env y añade tus llaves reales

# Token de Mapbox (Obtenlo en dashboard.mapbox.com)
MAPBOX_TOKEN=tu_token_de_mapbox_aqui pk.asdad.....

# URLs del Backend
API_URL=http://localhost:8000
API_URL_PROD=https://tu-backend-produccion.com

#prob